*{
    padding: 0;
    margin: 0;
}
header
{
    color: #000;
    display: block;
    padding: 1%;
    background: #f2f2f2;
}
.logo{
    float: left;
    margin: 10px 0 0 10px;
}
.searchBar{
    margin: 0 auto;
    width: 50%;
}
.searchBar input {
    width: 100%;
    padding: 20px;
    display: block;
    border:1px solid #000;
    background: transparent;
}
.usericon{
    position: absolute;
    right: 30px;
    top: 30px;
}